@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-overflow: ellipsis;
  overflow: hidden;
}

:root {
  font-family: "Lato", sans-serif;
  @media screen and (min-width: 769px) {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  @apply bg-gray;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #505050; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; 
}